.main-content-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  display: flex;
  gap: 2rem;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 950px) {
  .main-card {
    flex-direction: column;
    width: 100%;
  }

  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .items-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
